{% if page.meta.comments %}
<script src="https://giscus.app/client.js"
        data-repo="mdevaev/brownian.mov"
        data-repo-id="R_kgDOOOtwUQ"
        data-category="General"
        data-category-id="DIC_kwDOOOtwUc4CokEr"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="en"
        crossorigin="anonymous"
        async>
</script>
{% endif %}
